* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.woff'),
    url('../fonts/fontawesome-webfont.woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  font-family: var(--font-family);
  background-color: transparent;
  cursor: pointer;
}

/* main site */

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.link {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  color: #D4D6D4;
}

.link img {
  width: 12px;
  height: 12px;
}

.link span {
  text-indent: 10px;
  border-bottom: 1px solid currentColor;
}

.link:hover {
  color: #FFD723;
}

.site-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #4D533C;
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px 0;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  --offset-h: 11px;
  --offset-v: 14px;
  position: relative;
  border-radius: 50%;
  padding: var(--offset-v) var(--offset-h);
  width: 40px;
  height: 40px;
  background-color: #F5F6F7;
}

.burger-line {
  position: absolute;
  left: 50%;
  top: var(--offset-v);
  background-color: #000;
  display: inline-block;
  width: calc(100% - (var(--offset-h) * 2));
  height: 2px;
  transform: translateX(-50%);
}

.burger-line:nth-child(2) {
  top: calc(var(--offset-v) + 6px);
}

.burger-line:nth-child(3) {
  top: calc(var(--offset-v) + 12px);
}

.hero {
  padding-top: 189px;
  padding-bottom: 100px;
  min-height: 811px;
  background-image: url('../img/hero-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 616px;
  color: #fff;
  padding-bottom: 30px;
}

.hero-subtitle {
  display: inline-block;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

}

.hero-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
}

.hero-descr {
  margin: 0;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.hero-link {
  color: #FFD723;
}

.services {
  padding-top: 150px;
  padding-bottom: 50px;
}

.services-title {
  margin: 0;
  max-width: 610px;
  margin-bottom: 60px;
}

.services-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services-subtitle {
  max-width: 183px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  color: #4D533C;
}

.services-descr {
  margin: 0;
  margin-bottom: 30px;
  max-width: 195px;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
}

.services-link {
  margin-bottom: 0;
  margin-top: auto;
}